@layer tailwind-base, primereact, tailwind-utilities;

/* VITE ONLY: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import "primereact/resources/themes/lara-light-blue/theme.css";

/* NEXT.JS ONLY: In "styled" mode you must also add the layer(primereact) */
@import "primereact/resources/themes/lara-light-blue/theme.css"
  layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #32b9a9;
}
